<!DOCTYPE html>
<html>
<head>
	<title>SitePreventorio</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href=""><%= image_tag("prev.png", height: '50', width: '60') %></a><strong>Preventório Santa Terezinha</strong>
			</div>
		</div>
	</nav>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<%= image_tag("banner1.png") %>
				<div class="carousel-caption">
					<!-- <h3>Caption Text</h3> -->
				</div>
			</div>
			<div class="item">
				<%= image_tag("banner1.png") %>
				<div class="carousel-caption">
				</div>
			</div>
			<div class="item">
				<%= image_tag("banner1.png") %>
				<div class="carousel-caption">
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div> <!-- Carousel -->

	<div class="container">
		<!-- Example row of columns -->
		<h1 class="centered">SERVIÇOS</h1><br>

		<div class="row abaixapartefinal">
			<div class="col-md-4">
				<%= image_tag("servInfantil.png", class: "img-responsive center-block") %>
				<p class="descetexto">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p><!-- 
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
			</div>
			<div class="col-md-4">
				<%= image_tag("servProfissionalizante.png", class: "img-responsive center-block") %>
				<p class="descetexto">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			</div>
			<div class="col-md-4">
				<%= image_tag("servmedico.png", class: "img-responsive center-block") %>
				<p class="descetexto">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			</div>
			<br>
			<br>
		</div>


	</div> <!-- /container -->
	<div class="jumbotron corcheia2">
		<div class="container">
			<div class="row abaixapartefinal">
				<div class="col-sm-6">
					<%= image_tag("eventoCeleb.png", class: "img-responsive center-block") %>
				</div>
				<div class="col-sm-6">
					<%= image_tag("eventosCriança.png", class: "img-responsive center-block") %>
				</div>
				<div class="col-sm-6">
					<%= image_tag("eventosCriança.png", class: "img-responsive center-block desceimagem") %>
				</div>
				<div class="col-sm-6">
					<%= image_tag("eventosProfMon.png", class: "img-responsive center-block desceimagem") %>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron corcheia3">
		<div class="container">
			<%= image_tag("apoiadoresbanner2.png", class: "img-responsive center-block") %>
		</div>
	</div>
	<div class="jumbotron corcheia4">
		<footer>
			<div class="row">
				<div class="col-sm-6">
					<%= image_tag("logoBarra.png", class: "img-responsive center-block") %>
					<h4 class="textoprincipal textorodape">
						Endereço<br>
						Av. Almirante Barroso, 4325 - Souza, Belém - PÁ, 66610-000<br>
						Telefone: (91) 3243-2868
					</h4>
				</div>
				<div class="col-sm-6">
					<h4 class="textoprincipal textorodape2">
						SOBRE<br>
						lorem ipsum lorem ipsum lorem ipsum
						lorem ipsum lorem ipsum lorem ipsum
						lorem ipsum lorem ipsum lorem ipsum
						lorem ipsum lorem ipsum lorem ipsum
						lorem ipsum lorem ipsum lorem ipsum
						lorem ipsum lorem ipsum lorem ipsum
						lorem ipsum lorem ipsum lorem ipsum
						lorem ipsum lorem ipsum lorem ipsum
					</h4>
				</div>
			</div>
		</footer>
	</div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <%= yield %>

</body>
</html>
