<!DOCTYPE html>
<html>
<head>
	<title>Centro Integrado de Empreendedorismo Social</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse affix">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href=""><%= image_tag("prev.png", height: '70', width: '80') %></a>
				<strong class="mudafonte">Centro Integrado de Empreendedorismo Social</strong>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#sobre">Quem Somos</a></li>
					<li><a href="#servicos">Serviços</a></li>
					<li><a href="../navbar-fixed-top/">Fotos e Vídeos</a></li>
					<li><a href="../navbar-fixed-top/">Seja um Doador</a></li>
					<li><a href="../navbar-fixed-top/">Eventos</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>

</div> <!-- /container -->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag("banner1.png") %>
			<div class="carousel-caption">
				<!-- <h3>Caption Text</h3> -->
			</div>
		</div>
		<div class="item">
			<%= image_tag("banner2.png") %>
			<div class="carousel-caption">
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div> <!-- Carousel -->

<div class="container" id="servicos">
	<!-- Example row of columns -->
	<h1 class="centered mudafonte">SERVIÇOS</h1><br>

	<div class="row abaixapartefinal">

		<div class="col-md-4">
			<%= image_tag("servInfantil.png", class: "img-responsive center-block") %><br>
			<h4 class="centered mudafonte">Educação Infantil</h4><br>
			<p class="text-center">
				Oferece Reforço Escolar:
				<br>
				Português (Redação, Gramática, Literatura -  com biblioteca e roda de leitura).
				<br>
				Matemática.
				<br>
				Inclusão Digital.
			</p><!-- 
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
		</div>
		<div class="col-md-4">
			<%= image_tag("servProfissionalizante.png", class: "img-responsive center-block") %><br>
			<h4 class="centered mudafonte">Cursos Profissionalizantes</h4><br>
			<p class="text-center">
				Formação mínima para pais.
				<br>
				Curso de manipulação de alimentos.
				<br>
				Curso culinária na cozinha industrial.
				<br>
				Cursos orientados pelo CESUPA.

			</p>
		</div>
		<div class="col-md-4">
			<%= image_tag("servmedico.png", class: "img-responsive center-block") %><br>
			<h4 class="centered mudafonte">Espaço Médico</h4><br>
			<p class="text-center">
				Consultórios multifuncionais.
				<br>
				Serviço Médico.
				<br>
				Serviço Odontológico.
				<br>
				Serviço de Terapia Ocupacional.
				<br>
				Posto de coleta do laboratório de análises clínicas.
			</p>
		</div>
	</div>


</div> <!-- /container -->

<div class="corcheia6">
	<div class="container" id="servicos">
		<!-- Example row of columns -->
		<h2 class="centered mudafonte textoprincipal"><strong>Preencha esse espaço com solidariedade #FaçaSuaDoação</strong></h2><br><br>
		<h3 class="centered mudafonte textoprincipal">Informações - Disque (91) 3243-2868</h3>
	</div>
</div>

<div>
	<div class="container" id="sobre">
		<!-- Example row of columns -->
		<br>
		<div class="row">
			<div role="main" class="col-md-8">
				<h3 class="centered mudafonte subindo">SOBRE</h3><br>
				<h5 class="just mudafonte">O Preventório Santa Terezinha foi fundado em 11/10/1948, pra atender crianças sadias filhas de pais tuberculosos:<br>
					Daí o nome -<br>
					Preventório --- vem de prevenção<br>
					Santa Terezinha - foi uma santa católica que morreu, muito jovem, vítima da tuberculose.
					Situado em prédio próprio - Av almirante Barroso, 4352.<br>
					O Preventório foi fundado por um grupo de amigas, dentre as quais estava minha avó, que ficou como  presidente até 1996 quando eu assumi a incumbência de levar adiante o trabalho ao qual ela se dedicou por toda a vida.<br>
					Com o passar do tempo e a erradicação da doença, a Casa passou a atender crianças carentes que moravam na Instituição.<br>
					Por bastante tempo recebeu ajuda de uma ordem religiosa, que, através de um grupo de freiras, que também moravam no local, realizavam as tarefas de acompanhar as crianças.<br><br>

					Em 96 passamos a atender em regime em creche.<br><br>

					Desde a década de 60 havia um convênio com a Secretaria de Educação do Estado (SEDUC) através do qual, funcionava uma escola nas dependências do Preventório, mas, dada a necessidade de mudança de rumos Institucionais houve uma mudança da relação com a SEDUC que manteve a escola lá, desta feita sob um contrato de aluguel.<br><br>


					A Secretaria de Educação alugou a parte térrea do prédio onde a escola já funcionava.
					Com os recursos financeiros da locação, então foi possível realizar a reforma da parte de cima do prédio para o funcionamento do "novo preventório".
					esses recursos financeiros - foi que possibilitaram a reforma e é com ele que contamos, até agora, para fazer frente a (parte) do novo projeto.<br><br></h5>
				</div>
				<aside role="complementary" class="col-md-4">
					<br>
					<%= image_tag("eventoCeleb.png", class: "img-responsive center-block") %>
				</adise>	
			</div>
		</div>

		<div class="jumbotron corcheia2">
			<div class="container">
				<h2 class="centered mudafonte">EVENTOS</h2><br>
				<div class="row abaixapartefinal">
					<div class="col-sm-6">
						<%= image_tag("eventoCeleb.png", class: "img-responsive center-block") %>
					</div>
					<div class="col-sm-6">
						<%= image_tag("eventoExemplo.png", class: "img-responsive center-block") %>
					</div>
					<div class="col-sm-6">
						<%= image_tag("eventosCriança.png", class: "img-responsive center-block desceimagem") %>
					</div>
					<div class="col-sm-6">
						<%= image_tag("eventosProfMon.png", class: "img-responsive center-block desceimagem") %>
					</div>
				</div>
			</div>
		</div>

		<div class="jumbotron corcheia5">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="centered mudafonte">FOTOS</h2><br>
						<%= image_tag("preve1.jpg", class: "img-responsive center-block img") %>		
						<br>
						<%= image_tag("prev8.jpg", class: "img-responsive center-block") %>
						<br>
						<%= image_tag("prev9.jpg", class: "img-responsive center-block") %>			
					</div>
					<div class="col-md-6">
						<h2 class="text-center mudafonte">VÍDEOS</h2><br>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/F1gkMI2tt2Y" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>


		<div class="jumbotron corcheia3">
			<h2 class="centered mudafonte">APOIADORES</h2><br>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-3">
						<%= image_tag("logoCesupa.png", class: "img-responsive center-block") %>		
					</div>
					<div class="col-md-3 col-xs-3">
						<%= image_tag("logoArquit.png", class: "img-responsive center-block") %>
					</div>
					<div class="col-md-3 col-xs-3">
						<%= image_tag("logoEnge.png", class: "img-responsive center-block") %>
					</div>
					<div class="col-md-3 col-xs-3">
						<%= image_tag("logoMaxima.png", class: "img-responsive center-block") %>
					</div>	
				</div>
			</div>
		</div>
		<footer class="jumbotron corcheia4">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center">
						<br>
						<%= image_tag("logoBarra.png", class: "img-responsive center-block", height: '86', width: '86') %>
						<h5 class="textoprincipal mudafonte">
							Endereço: Av. Almirante Barroso, 4325 - Souza, Belém - PÁ, 66610-000<br>
							Telefone: (91) 3243-2868
						</h5>
					</div>
				</div>
				<div class="container">
					<div class="col-md-12">
						<div class="row">
							<div class="copyright-section">
								<div class="col-md-12">
									<div class="textoprincipal mudafonte text-center">
										© 2016 Santa Terezinha - Todos os Direitos Reservados Devin6
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <%= yield %>

</body>
</html>
